[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.0.6"
djangorestframework = "~=3.13.1"
python-dotenv = "~=0.20.0"
psycopg2-binary = "~=2.9.3"
firebase-admin = "~=5.2.0"
cryptography = "~=37.0.2"
hypercorn = "~=0.13.2"
google-auth = "~=2.3.3"

[dev-packages]

[requires]
python_version = "3.9"
