[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
python-dotenv = "*"
psycopg2-binary = "*"
firebase-admin = "*"
hypercorn = "*"
google-auth = "*"

[dev-packages]

[requires]
python_version = "3.10"
